@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Ephesis', cursive;
}
body{
    background-color: #f6f6f6;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    width: 40vw;
    height: 80vh;
    border-radius: 30px;
    opacity: 1;
    animation: fadeOut 1s ease-in-out;
}
#spellName{
    padding: 3px;
    border: none;
    border-bottom: solid 1px;
    border-radius: 3px;
}
button{
    font-style: italic;
    background-color: rgb(223, 223, 223);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 3px;
}


#result{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#title{
    margin-top: 5%;
    font-style: italic;
    font-size: large;
    border-bottom: solid  grey;
    width: 80%;
    text-align: center;
}

#classes{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#tagClass{
    color: rgb(255, 255, 255);
    font-size: 25px;
}

#desc{
    text-align: center;
    font-size: 25px;
}




#spellCard{
    display: flex;
    flex-direction: row;
}



@keyframes fadeOut {
    0% {
      opacity: 1;
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
    100% {
      opacity: 0;
      clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
    }
  }